<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<h1>欢迎来登录</h1>
<form method="post" action="{% url 'login_page' %}">
    {% csrf_token %}
    用户名：<input type="text" name="username" required="required"><br/>
    密 码：<input type="password" name="pass" required="required"><br/>
    <input type="submit" value="登录">
    <p>{{res}}</p>

</form>
<a href="{% url 'register_page' %}">去注册</a><br/><a href="{% url 'index' %}">回首页</a><br>
 <a href="{% url 'reset' %}">修改密码</a>

</body>
</html>