<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>友智慧</title>
    <style type="text/css">
        div{
        width:400px;
        height:400px;
        margin: auto;
			}

    </style>
</head>
<body>
<div>
<form type="">
    <input type="text" name="value" placeholder="输入框"></br>
</form>
	
	
    <p>{{name}}</p>
    <p>{{age}}</p>
    <p>{{city}}</p>
    <button style="color:green">点击</button>
    <h1>
       <p>china</p>
    </h1>
    {# 这是一个注释 #}
    <a href="{% url 'home_page' %}">点击跳到home页面</a>
</div>
</body>
</html>